<nav [ngClass]="{'navbar': true, 'bg-dark': true, 'navbar-dark': true, 'navbar-expand-lg': true}">
    <div [ngClass]="{'navbar-collapse': true, 'collapse': true}">
      <ul [ngClass]="{'nav': true, 'navbar-nav': true}">
        <li [ngClass]="{'navbar-item': true}" routerLinkActive="active"><a [ngClass]="{'navbar-link': true}" routerLink="posts">Posts</a></li>
        <li [ngClass]="{'navbar-item': true}" routerLinkActive="active"><a [ngClass]="{'navbar-link': true}" routerLink="new">New Post</a></li>
      </ul>
    </div>
</nav>

<div [ngClass]="{'container': true }">
  <div [ngClass]="{'row': true}">
    <div [ngClass]="{'col-xs-12': true}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
